*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border{
border: 1px solid black;
padding: 11px;

}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
 
}
button{
    background-color: rgb(64, 64, 105);
    border: 0;
    padding: 11px 15px;
    color: bisque;
    font-size: 20px;
}